#section-1 {
	background: url('/images/cart/ecommerce_20shopping_20cart.webp') center top /
		cover no-repeat fixed;
	height: 300px;
}

@media (max-width: 766px) {
	#section-1 {
		background: url('/images/cart/ecommerce_20shopping_20cart.webp') center top /
			cover no-repeat scroll;
	}
}

#section-2 {
	padding: 70px 30px 80px;
}

.grid-container {
	display: grid;
	grid-template-columns: 500px 400px;
	gap: 30px;
  justify-content: center;
  align-items: start;
}
@media (max-width: 1024px) {
  .grid-container{
    grid-template-columns: 1fr;
    max-width: 933px;
  }
}

#divider {
	display: flex;
	flex-direction: column;
	gap: 30px;
	max-width: 700px;
}

.flex-container,
.flex-box {
	display: flex;
	align-items: center;
	gap: 20px;
}

.flex-container {
	padding: 16px 30px;
	border: 2px solid #d5d8dc;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.product-image {
	width: 150px;
}
.product-image img {
	width: 100%;
}

.products {
	padding: 5px;
}

.product-name,
.product-price,
.product-quantity,
.product-subtotal {
	font: 700 16px 'Quicksand';
	padding-bottom: 15px;
}

form{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
	padding: 12px;
	border-radius: 15px;
	border: 1px solid #d5d8dc;
	width: 65%;
	font: 500 16px 'Quicksand';
}

input:focus {
	background-color: #05092a;
	color: #fff;
	outline: none;
	font: 500 16px 'Quicksand';
}

.cart-box{
  display: flex;
  flex-direction: column;
	max-width: 460px;
}

.cart-title {
  color:#05092a ;
  font: 700 30px 'Quicksand';
}

