#section-1 {
  position: relative;
  height: 40vh;
  width: 100%;
  background: url('/images/background/bg-08-free-img.webp ') center top / cover
    no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(360deg, #05092a 5%, transparent 100%);
  z-index: 1;
}

#section-1 > * {
  position: relative;
  z-index: 2;
}

#section-1 div{
  color: #e6b00c;
  font: 600 60px 'Quicksand';
  text-align: center;
}

#section-2,
.sec-2-containers,
.sec-2-left,
form,
.first-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-2 {
  flex-direction: column;
  gap: 20px;
  padding: 70px 20px 30px 20px;
}
.sec-2-containers {
  gap: 30px;
}

.first-sec {
  gap: 15px;
}

.sec-2-left,
form {
  flex-direction: column;
  gap: 20px;
}

.form-container {
  max-width: 350px;
  padding: 10px;
}

input,
textarea {
  padding: 12px;
  border-radius: 30px;
  border: 1px solid #05092a;
}

/*section 2 inner container*/
.link-button-1 {
  background-color: #05092a;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
  font: 500 15px 'Quicksand';
  text-decoration: none;
}

.link-button-1:hover {
  background-color: #191970;
}

/*font awesome*/
.icon {
  display: inline-block;
  background-color: #05092a;
  color: white;
  padding: 10px;
  border-radius: 50%;
  font-size: 21px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center center;
}

.icon:hover {
  background-color: #fff;
  color: #05092a;
}
