/*section 1*/
#section-1 {
  background: url('../images/background/bg-10-free-img.webp') right bottom /
    cover no-repeat fixed;
  height: 50vh;
}

@media (max-width: 766px) {
  #section-1 {
    background: url('../images/background/bg-10-free-img.webp') top center /
      cover no-repeat scroll;
  }
}
/*end*/

/*section 2*/
#section-2 {
  padding: 60px 10px 10px;
}

.section-2-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}

.sec-2-box-1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  padding: 10px;
  max-width: 375px;
}
.text-1 {
  font: 600 18px 'Quicksand';
  color: #d5a515;
}

.text-2 {
  font: 600 45px 'Quicksand';
  color: #05092a;
}

@media (max-width: 766px) {
  .section-2-container {
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .sec-2-box-1 {
    width: 100%;
    padding: 10px;
  }

  .text-2,
  #section-3 div {
    text-align: center;
    font-size: 40px;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .sec-2-box-1 {
    width: 45.5%;
  }

  .text-2 {
    font: 600 40px 'Quicksand';
  }
}

/* Container for the progress bar */
.my-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

/* Container for the progress bar */
.progress-container {
  width: 100%;
  background-color: #c9c9c9;
  border-radius: 20px;
  overflow: hidden;
  height: 20px;
  margin: 5px 0;
  font: 600 13px 'Quicksand';
}

/* The actual progress bar */
.progress-bar {
  height: 100%;
  width: 0;
  background: linear-gradient(to right, #05092a, #05092a);
  text-align: right;
  line-height: 20px;
  color: white;
  transition: width 0.3s;
}

.sec-2-box-1 span {
  font: 600 15px 'Quicksand';
}

.sec-2-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 10px;
}

@media (max-width: 766px) {
  .section-2-container {
    flex-direction: column;
  }
  .sec-2-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 767px) {
  .container-1 {
    margin-top: -17px;
    margin-bottom: 17px;
  }

  .container-4 {
    margin-bottom: -20px;
  }
}
/*end*/
#section-3 {
  padding: 15px;
}

#section-3 div {
  font: 600 45px 'Quicksand';
  color: #05092a;
  text-align: center;
}
/*section 4*/
#section-4 {
  padding: 40px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-4-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0 20px;
}

.sec-4-inner-grid {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-width: 560px;
}

.sec-4-inner-grid img {
  width: 100%;
  border-radius: 15px 0 15px 15px;
}

.sec-4-inner-grid div {
  font: 600 29px 'Quicksand';
  color: #05092a;
  text-align: center;
}

.sec-4-inner-grid p {
  font: 600 15px 'Quicksand';
  color: #d5a515;
  text-align: justify;
}

@media (max-width: 766px) {
  .sec-4-grid {
    grid-template-columns: 1fr;
  }
  .sec-4-inner-grid div {
    font-size: 25px;
  }
  .sec-4-inner-grid p {
    font-size: 14px;
  }
}
