/*section 1*/
#section-1 {
  background: url('../images/background/bg-10-free-img.webp') right bottom /
    cover no-repeat fixed;
  height: 50vh;
}

@media (max-width: 766px) {
  #section-1 {
    background: url('../images/background/bg-10-free-img.webp') top center /
      cover no-repeat scroll;
  }
}
/*end*/

/*section 2*/
#section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 10px 10px;
  gap: 15px;
}

.sec-2-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 10px;
}

@media (max-width: 766px) {
  #section-2 {
    flex-direction: column;
  }
  .sec-2-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 767px) {
  .container-1 {
    margin-top: -17px;
    margin-bottom: 17px;
  }

  .container-4 {
    margin-bottom: -20px;
  }
}
