#section-1 {
  background: url('../images/background/bg-10-free-img.webp') right bottom /
    cover no-repeat fixed;
    height: 50vh;
}

@media (max-width:766px) {
  #section-1 {
    background: url('../images/background/bg-10-free-img.webp') top center / cover
      no-repeat scroll;
  }
}

#section-2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 10px;
}